.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.562); */
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    z-index: 99999;
}

@media (width <= 768px){
    .container{
        font-size: .8rem;
        
    }
    .left{
        visibility: collapse;
    }
    .right{
        width: 100%;
    }
}

.line{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    border-bottom: 1px solid white;

    z-index: 99;
}

.container p{
    padding-left: .5rem;
    padding-right: .5rem;
    z-index: 1000;
}

.left{
}
.right{
    display: flex;

}